@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  --primary-brand: #ca678e;
  --dark: #96305a;
  --secondary-brand: #228e67;
  --tertiary-brand: #62162f;
  --text-color: #433f45;
  --accent: #d9d9d9;
  --font-size-base: 1rem;
  --font-size-lg: 2.5rem;
  --font-size-md: 2rem;
  --font-size-sm: 1.75rem;
  --font-size-xs: 1.5rem;
  --line-height-base: 1.6;
  --margin-bottom-base: 1.5rem;
}

::selection {
  background-color: var(--primary-brand);
  color: #fff;
}

* {
  text-align: left;
}

body {
  font-family: "Lilita One", cursive;
  color: var(--text-color);
  background-color: var(--accent);
  line-height: var(--line-height-base);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin-bottom: var(--margin-bottom-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}

h1 {
  font-size: var(--font-size-lg);
}
h2 {
  font-size: var(--font-size-md);
}
h3 {
  font-size: var(--font-size-sm);
}
h4,
h5,
h6 {
  font-size: var(--font-size-xs);
}

p,
strong {
  transition: color 0.3s;
}
strong {
  color: var(--tertiary-brand);
}

ol,
ul {
  padding-left: 1.5rem;
}
li {
  margin-bottom: 0.5rem;
  transition: transform 0.2s;
}

button:hover,
li:hover {
  transform: scale(1.05);
}

nav ul li a {
  color: var(--primary-brand);
  text-decoration: none;
  transition: color 0.3s, transform 0.2s;
}

nav ul li a:hover {
  color: var(--secondary-brand);
  transform: translateY(-3px);
}

#content {
  opacity: 0;
}

.fade-in {
  animation: 0.5s ease-in-out forwards fade-in;
}

button {
  background-color: var(--primary-brand);
  color: #fff;
  border: 0;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

button:hover {
  background-color: var(--dark);
}

.slide-in {
  animation: 0.4s forwards slide-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
